<div [ngStyle]="{'background-image':'url(' + url + ')','height':'50%','width':'100%','background-position':'center','background-size':'cover','position':'relative','z-index': '0'}">
  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>

  <ul class="topnav">
    <li><a class="active" href="#"><img src="/assets/images/everhotLogo.png" [ngStyle]="{'max-height':'55px'}"/></a>
    </li>
    <li class="right"><a>
      <mat-select [(value)]="globals.languageSelected" placeholder="Language/שפה"
                  [ngStyle]="{'margin-left':'35px','margin-right':'35px','max-width':'100px'}">
        <mat-option *ngFor="let lng of globals.languages" [value]="lng.value">
          {{lng.viewValue }}
        </mat-option>
      </mat-select>
    </a>
    </li>
    <li class="right"><a routerLink="/gallery">{{globals.languageSelected == 'hebrew' ? 'גלריה' : 'gallery'}}</a></li>
    <li class="right"><a routerLink="/guide">{{globals.languageSelected == 'hebrew' ? 'חוברת הדרכה' : 'guide'}}</a></li>
    <li class="right"><a routerLink="/contact">{{globals.languageSelected == 'hebrew' ? 'צור קשר' : 'contact'}}</a></li>
  </ul>

  <div class="hero-buttons">
    <img [src]="'/assets/images/WaterFliped.png'"  id="blbl"  height="150px">
  </div>
</div>


<br><br><br><br><br>

<br>
<div class="conn">
  <div class="rowSun">
    <img (click)="openModal('easyInstall')"
         [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/easyinstall.png' : '/assets/images/english/easyinstall.png'"
         alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/money.png' : '/assets/images/english/money.png'"
      alt="" width="220">
  </div>
  <div class="rowSun">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/alerting.png' : '/assets/images/english/alerting.png'"
      alt="" width="220">

      <img src="/assets/PANEL.png" alt="" width="420">

    <img data-target="#exampleModal"  data-toggle="modal"
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/madeinisrael.png' : '/assets/images/english/madeinisrael.png'"
      src="/assets/images/english/madeinisrael.png" alt="" width="220">
  </div>
  <div class="rowSun">
    <img [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/integrated.png' : '/assets/images/english/integrated.png'"
         alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/shabbat.png' : '/assets/images/english/shabbat.png'"
      alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/avnit.png' : '/assets/images/english/avnit.png'"
      alt="" width="220">
  </div>
</div>



<div class="conn">
  <iframe width="94.02985075%" height="450px" src="https://www.youtube.com/embed/ua6v5f5-wzU" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
