<div
  [ngStyle]="{'background-image':'url(' + url + ')','height':'50%','background-position':'center','background-repeat':'no-repeat','background-size':'cover','position':'relative'}">
  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>

  <ul class="topnav">
    <li><a class="active" href="#"><img src="/assets/images/everhotLogo.png" [ngStyle]="{'max-height':'55px'}"/></a>
    </li>
    <li class="right"><a>
      <mat-select [(value)]="globals.languageSelected" placeholder="Language/שפה"
                  [ngStyle]="{'margin-left':'35px','margin-right':'35px','max-width':'100px'}">
        <mat-option *ngFor="let lng of globals.languages" [value]="lng.value">
          {{lng.viewValue }}
        </mat-option>
      </mat-select>
    </a>
    </li>
    <li class="right"><a routerLink="/gallery">{{globals.languageSelected == 'hebrew' ? 'גלריה' : 'gallery'}}</a></li>
    <li class="right"><a routerLink="/guide">{{globals.languageSelected == 'hebrew' ? 'חוברת הדרכה' : 'guide'}}</a></li>
    <li class="right"><a routerLink="/contact">{{globals.languageSelected == 'hebrew' ? 'צור קשר' : 'contact'}}</a></li>
  </ul>

</div>
<div >
  <img [src]="'/assets/images/WATER STRIP.png'" width="100%" height="100%">
  <!--div class="wave"></div-->
  <!--div class="ocean">
    <!--div class="wave"></div>
  </div-->
</div>

<br>

<br>
<div class="conn">
  <div class="row">
    <img (click)="openModal(easyInstall)"
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/easyinstall.png' : '/assets/images/english/easyinstall.png'"
      alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/money.png' : '/assets/images/english/money.png'"
      alt="" width="220">
  </div>
  <div class="row">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/alerting.png' : '/assets/images/english/alerting.png'"
      alt="" width="220">
    <img src="/assets/PANEL.png" alt="" width="420">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/madeinisrael.png' : '/assets/images/english/madeinisrael.png'"
      src="/assets/images/english/madeinisrael.png" alt="" width="220">
  </div>
  <div class="row">
    <img class="sun"
         [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/integrated.png' : '/assets/images/english/integrated.png'"
         alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/shabbat.png' : '/assets/images/english/shabbat.png'"
      alt="" width="220">
    <img
      [src]="globals.languageSelected == 'hebrew' ? '/assets/images/hebrew/avnit.png' : '/assets/images/english/avnit.png'"
      alt="" width="220">
  </div>
</div>


<!--div id="conn">
  <div class="hero-text">
    <h1>Everhot</h1>
    <button routerLink="/gallery">{{globals.languageSelected == 'hebrew' ? 'גלריה' : 'gallery'}}</button>
    <button routerLink="/guide">{{globals.languageSelected == 'hebrew' ? 'חוברת הדרכה' : 'guide'}}</button>
    <button routerLink="/contact">{{globals.languageSelected == 'hebrew' ? 'צור קשר' : 'contact'}}</button>
  </div>
  <img src='/assets/main1.jpg'>
  <img src='/assets/main2.jpg'>
  <img src='/assets/main3.jpg'>
  <img src='/assets/PANEL.png'>
</div-->
<div class="conn">
  <iframe width="94.02985075%" height="450px" src="https://www.youtube.com/embed/ua6v5f5-wzU" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
