<!--h1 mat-dialog-title>{{data.name}}</h1-->

<div mat-dialog-content>

  <div *ngIf="data.name == 'easyInstall'" >
   <div> <img [src]="'/assets/images/ICON2.png'" alt="" width="110"></div>
    <div >
      <b> {{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}</b>
    </div>
    <div mat-dialog-content ><p>	התקנת המערכת:
      מערכת EVERHOT מתאימה לכל בית בגלל שלא דורשת תשתית תקשורת חדשה וחיבור לאינטרנט אלא מתלבשת על תשתית חשמל קיימת בעזרת שימוש בטכנולוגיית PLC (Power Line Communication).  
      </p></div>
  </div>
  <div *ngIf="data.name == 'monay'" >
    <div> <img [src]="'/assets/images/ICON1.png'" alt="" width="110"></div>
    <div>
      <b> {{globals.languageSelected == 'hebrew' ? 'זול' : 'cheaper'}}</b>
    </div>
  </div>
  <div *ngIf="data.name == 'alerting'"  class="container">
    <img [src]="'/assets/images/ICON4.png'" alt="" width="110">
    <div class="item">
      <b> {{globals.languageSelected == 'hebrew' ? 'הגבלת טמפרטורה מירבית' : 'Maximum temperature limit'}}</b>
    </div>
    <div mat-dialog-content class="item"><p>הגבלת טמפרטורה מירבית בימים חמים מאוד: 
      לידיעתכם, בקיץ טמפרטורה בדוד שמש עלולה להגיע מעל ל-85 מעלות צלסיוס, כתוצאה מכך מתרחשים תהליכים כימיים שמתחילים כבר בטמפרטורה של 60 מעלות וגורמים להיווצרות אבנית בכמות מוגדלת. 
      במקביל למערבל המים שמורכב לצורך מניעת כוויות 
      ניתן להוסיף משאבת סחרור קטנה כדי שמערכת EVERHOT תבצע סירקולציה בין קולטי השמש ודוד החשמל כך שהטמפרטורות יישארו נמוכות מ-60 מעלות, חשוב לציין שסירקולציה הזו לא מקטינה כמות המים החמים בדוד וגם שומרת על תשתית ואביזרים סניטריים. בנוסף, המשאבה מונעת קיפאון של מים בימים החורפים ובכך מונעת התפוצצות צינורות ופקקים. 
      </p></div>
  </div>
  <div  *ngIf="data.name == 'integrated'"  class="container">
    <div class="item"><img [src]="'/assets/images/ICON5.png'" alt="" width="110"></div>
    <div class="item">
      <p > מי שיש לו דוד שמש ומערכת חימום גז
        יונקרס או מערכת חשמל בו זמנית,
        שזה נפוץ באזורי צפון הארץ, ירושלים והסביבה נאלץ להעביר באופן ידני את מקור אספקת המים החמים מדוד שמש ליונקרס
        שבדרך כלל נעשה פעמיים בשנה בתחילתה ובסיומה של תקופת החורף.
        כי, מי מוכן לפתוח ולסגור את הברזים יום-יום ולהיתקע במקלחת בלי מים חמים? ובמערכות חשמל סובלים ממפל הלחץ מים
        וניתוקים לא צפויים.

        המערכת EVERHOT מבצעת שינוי זה באופן אוטומטי במהלך כל השנה כדי לנצל את המים שחוממו ע"י השמש עד לטיפה האחרונה.
      </p>
    </div>
    <div class="item">
      <p>
        הפעלה חכמה של דוד חשמלי:
        כולם מכירים שעוני דוד פשוטים, מפסקים "חכמים" שמופעלים על ידי אפליקציות דרך WI FI
        כי כל פעם שאנחנו רוצים להדליק בוילר אין לנו שום מידע על טמפרטורת המים הנוכחית ז"א הפעלה וכיבוי מתבצעים באופן לא
        חסכוני וללא שליטה.
        בניגוד למפסקים האלו המערכת EVERHOT בודקת את טמפרטורת המים הנוכחית בבוילר ומבצעת הפעלה או כיבוי באופן מתוחכם
        וחסכוני.
        (כמו הפעלה מיידית, תכנון הפעלה מראש חד פעמים, תכנון הפעלה שבועית, תכנון הפעלה קבועה).
      </p>
    </div>

  </div>
  <div *ngIf="data.name == 'shabbat'">
    <img [src]="'/assets/images/shabbosKeaper.png'" alt="" width="110">
    <div>
      <b> {{globals.languageSelected == 'hebrew' ? 'המערכת נוחה להפעלה לשומרי שבת' : 'easy configurable for shabbos keeper'}}</b>
    </div>
  </div>
  <div *ngIf="data.name == 'avnit'" class="container">
    <div class="item"><img [src]="'/assets/images/ICON7.png'" alt="" width="110"></div>
    <div class="item">
      <b> {{globals.languageSelected == 'hebrew' ? 'התראה אוטומטית על הצטברות של אבנית לאיש מקצוע מוסמך' : 'Automatic notification of limescale accumulation to a qualified professional'}}</b>
    </div>
    <div class="item">
      <p> בעיית הצטברות האבנית בגוף החימום:
        האבנית מאריכה את זמן חימום מים בדוד שגורם לשימוש מיותר בחשמל.
        המערכת EVERHOT מזהה ונותנת התראה מפני הצטברות אבנית על גוף החימום בבוילר.
        בנוסף, במערכת תיהיה אפשרות לשלוח הודעה לאיש מקצוע המוגדר ע"י הלקוח לצורך טיפול בגוף החימום או כול תקלה אחרת.
      </p>
    </div>
  </div>
  <div *ngIf="data.name == 'madeinisrael'">
    <img [src]="'/assets/images/ICON3.png'" alt="" width="110">
    <div>
      <b> {{globals.languageSelected == 'hebrew' ? 'מיוצר בישראל' : 'made in israel'}}</b>
    </div>
    <div>
      <p> מוצר זה הינו פרי פיתוח ישראלי נבנה מאפס בארץ צד שרת ולקוח כאחד על ידי מתכנתים ישראלים כמו כן העיצוב גם כן הוא ישראלי
      </p>
    </div>
  </div>

  
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>

