<!--h1 mat-dialog-title>{{data.name}}</h1-->
<div mat-dialog-content>

  <div *ngIf="data.name == 'easyInstall'">
    <img [src]="'/assets/images/ICON2.png'" alt="" width="110">
    <div>
      <p> </p>{{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}
    </div>
  </div>
  <div *ngIf="data.name == 'monay'">
    <img [src]="'/assets/images/ICON1.png'" alt="" width="110">
    <div>
      <p> </p>{{globals.languageSelected == 'hebrew' ? 'זול' : 'cheaper'}}
    </div>
  </div>
  <div *ngIf="data.name == 'alerting'">
    <img [src]="'/assets/images/ICON2.png'" alt="" width="110">
    <div>
      <p> </p>{{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}
    </div>
  </div>
  <div *ngIf="data.name == 'integrated'">
    <img [src]="'/assets/images/ICON2.png'" alt="" width="110">
    <div>
      <p> </p>{{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}
    </div>
  </div>
  <div *ngIf="data.name == 'shabbat'">
    <img [src]="'/assets/images/ICON2.png'" alt="" width="110">
    <div>
      <p> </p>{{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}
    </div>
  </div>
  <div *ngIf="data.name == 'avnit'">
      <img [src]="'/assets/images/ICON2.png'" alt="" width="110">
      <div>
        <p> </p>{{globals.languageSelected == 'hebrew' ? 'התקנה פשוטה' : 'easy to install'}}
      </div>
    </div>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->