<app-menu></app-menu>




<!--ej-pdfviewer [(serviceUrl)]="service" id="pdfviewer1" style="width:100%;min-height:600px;display:block" >
  </ej-pdfviewer-->
<div style="text-align: center">
  <a (click)="pdfViewer.prevPage()"><img src="/assets/baseline-skip_previous-24px.svg" [ngStyle]="{'max-height':'55px'}" /></a>
  <a (click)="pdfViewer.zoomIn()"><img src="/assets/baseline-zoom_in-24px.svg" [ngStyle]="{'max-height':'100px'}" /></a>
  <a (click)="pdfViewer.zoomOut()"><img src="/assets/baseline-zoom_out-24px.svg" [ngStyle]="{'max-height':'55px'}" /></a>
  <a (click)="pdfViewer.nextPage()"><img src="/assets/baseline-skip_next-24px.svg" [ngStyle]="{'max-height':'55px'}" /></a>
</div>

<section id="viewer">
  <!-- Simple PDF Viewer: open the test.pdf at the second page -->
  <simple-pdf-viewer #pdfViewer [src]="globals.languageSelected == 'hebrew' ? '/assets/pdfs/hebrew/EverHotGuide.pdf' : '/assets/pdfs/english/EverHotGuide.pdf'"></simple-pdf-viewer>
</section>

<!-- Example actions -->


<!--div [ngStyle]="{'height': '700px', 'overflow': 'scroll', 'buttom':'0px'}">
  <pdf-viewer [src]="globals.languageSelected == 'hebrew' ? '/assets/pdfs/hebrew/EverHotGuide.pdf' : '/assets/pdfs/english/EverHotGuide.pdf'"
    [render-text]="true" [zoom]="0.5">

  </pdf-viewer>

 
</div-->