<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
    <mat-toolbar [ngStyle]="{'background-color': '#a2b9bc'}">תפריט</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/gallery" routerLinkActive="active">גלריה</a>
      <a mat-list-item  routerLink="/guide" routerLinkActive="active">חוברת הדרכה</a>
     <a mat-list-item routerLink="/contact" routerLinkActive="active">צור קשר</a>
      <router-outlet></router-outlet>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [ngStyle]="{'background-color': '#a2b9bc'}">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#" [ngStyle]="{'max-height':'55px','display': 'block','margin-left': 'auto','margin-right': 'auto'}"><img src="/assets/images/everhotLogo.png" [ngStyle]="{'max-height':'55px','display': 'block','margin-left': 'auto','margin-right': 'auto'}"/></a>
        <mat-select [(value)]="globals.languageSelected" placeholder="Language/שפה" [ngStyle]="{'margin-left':'35px','margin-right':'35px','max-width':'150px','position': 'absolute','right': '0px'}" >
           <mat-option *ngFor="let lng of globals.languages" [value]="lng.value">
       {{lng.viewValue }}
     </mat-option>
        </mat-select>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
