<ul class="topnav">
  <li>
    <a class="active" href="#"><img src="/assets/images/everhotLogo.png" [ngStyle]="{'max-height':'55px'}" /></a>
  </li>
  <li class="right"><a>
      <mat-select  (selectionChange)="doSomething($event)" [(value)]="globals.languageSelected" placeholder="Language/שפה" class="menuFont" [ngStyle]="{'max-width':'100px','border-radius':'10%'}">
        
        <mat-option *ngFor="let lng of globals.languages" [value]="lng.value" [ngStyle]="{'border-radius':'10%'}">
        <b>  {{lng.viewValue }}</b>
        </mat-option>
      </mat-select>
    </a>
  </li>
  <li class="right"><a routerLink="/gallery" class="menuFont"><b>{{globals.languageSelected
      == 'hebrew' ? 'גלריה' : 'Gallery'}}</b></a></li>
  <li class="right"><a routerLink="/guide"  class="menuFont"><b>{{globals.languageSelected
      == 'hebrew' ? 'חוברת הדרכה' : 'Guide'}}</b></a></li>
  <li class="right"><a routerLink="/contact"  class="menuFont"><b>{{globals.languageSelected
      == 'hebrew' ? 'צור קשר' : 'Contact'}}</b></a></li>
</ul>