<ul class="topnav">
  <li>
    <a class="active" href="#"><img src="/assets/images/everhotLogo.png" [ngStyle]="{'max-height':'55px'}" /></a>
  </li>
  <li class="right"><a>
      <mat-select [(value)]="globals.languageSelected" placeholder="Language/שפה" [ngStyle]="{'max-width':'50px','border-radius':'10%'}">
        <mat-option *ngFor="let lng of globals.languages" [value]="lng.value" [ngStyle]="{'border-radius':'10%'}">
          {{lng.viewValue }}
        </mat-option>
      </mat-select>
    </a>
  </li>
  <li class="right"><a routerLink="/gallery">{{globals.languageSelected == 'hebrew' ? 'גלריה' : 'gallery'}}</a></li>
  <li class="right"><a routerLink="/guide">{{globals.languageSelected == 'hebrew' ? 'חוברת הדרכה' : 'guide'}}</a></li>
  <li class="right"><a routerLink="/contact">{{globals.languageSelected == 'hebrew' ? 'צור קשר' : 'contact'}}</a></li>
</ul>
<div class="dady" [ngStyle]="{'background-image':'url(' + url + ')'}">
  <div class="child">
    <list-upload></list-upload>
  </div>
</div>