.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: 0.3s;
  width: 40%;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(150, 110, 110, 0.2);
}
.card-container{
  pading: 2px 16px;
}

ul {
  padding: 0;
  width: 780px;
  margin: 20px auto
}

li {
  display: inline;
}

.tn {
  margin: 2px 0px;
  box-shadow: #999 1px 1px 3px 1px;
  cursor: pointer
}

.modal-content {
  width: 670px !important;
}

.selectedImage {
  width: 640px;
  position: relative
}

.caption {
  position: absolute;
  height: 70px;
  width: 100%;
  top: 410;
  left: 0;
  opacity: 0.9;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: verdana;
  font-size: 12px;
}

p {
  -webkit-margin-before: 5px !important;
  -webkit-margin-after: 5px !important;
}

.btn-back, .btn-forward {
  position: absolute;
  opacity: 0.9;
  background-color: black;
  padding: 10px;
  top: 190;
  color: white;
  text-weight: bold;
  cursor: pointer;
}

.btn-forward {
  left: 612;
}

/* punch
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 200px;
  -webkit-background-clip: padding-box;
  margin-left: 5%;
}

button.punch:hover {
  -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
}

/*testpalce-*/
* {
  box-sizing: border-box;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

body {
  background: linear-gradient(65deg, #000, #000 20%, #639);
  display: grid;
  width: 100vw;
  padding-top: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    align-content: center;

  }

  .matAccor {


  }
}

button + button {
  margin-left: 10%;
}

.dady {
  width: 100%;
  justify-content: center;
  display: flex;
}

.child {
  justify-content: center;
  display: flex;

}

.panelAccordion {
  max-height: 30px;
  background-color: #5b80ca;
  font-size: 15px;
  color: white;
}

.panelAccordion:hover {
  background-color: white;
  color: black;
  max-width: 100%;
}

.matAccor {
  max-width: 100%;

}

.my-app-custom-plain-container-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-app-custom-plain-container-row .my-app-custom-image-row {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}

.my-app-custom-plain-container-row .my-app-custom-image-row.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.my-app-custom-plain-container-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-app-custom-plain-container-column .my-app-custom-image-column {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}

.my-app-custom-plain-container-column .my-app-custom-image-column.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.my-app-custom-plain-container-with-desc {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-app-custom-plain-container-with-desc figure {
  margin: 0;
  position: relative;
}

.my-app-custom-plain-container-with-desc figure img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.my-app-custom-plain-container-with-desc figure figcaption {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 85%;
  padding: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}

.my-app-custom-plain-container-with-desc .description {
  font-weight: bold;
  text-align: center;
}

.my-app-custom-plain-container-with-desc .my-app-custom-image-with-desc {
  height: auto;
  margin-right: 2px;
  width: 200px;
  align-self: start;
}

.more {
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  color: #fff;
  padding-top: 4px;
  height: 46px;
  position: absolute;
  text-align: center;
  width: 50px;
}

.testImgs {
  background: #aaa;
  display: flex;
  flex-wrap: wrap;
}

.testImgs img {
  flex-grow: 1;
  width: 5%;
  height: 5%;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-outside: 5px;
}


.testImgs img:nth-child(even) {
  background: #23a;
}

.testImgs img:nth-child(odd) {
  background: #49b;
}

.testImgs ks-modal-gallery {
  flex-grow: 1;
  width: 5%;
  height: 5%;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-outside: 5px;
}


.testImgs ks-modal-gallery:nth-child(even) {
  background: #23a;
}

.testImgs ks-modal-gallery:nth-child(odd) {
  background: #49b;
}
.plain-container {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;

  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.video-container
{
  text-align: center;
  padding:20px 0;
}
