ul {
  padding: 0;
  width: 780px;
  margin: 20px auto
}

li {
  display: inline;
}

.tn {
  margin: 2px 0px;
  box-shadow: #999 1px 1px 3px 1px;
  cursor: pointer
}

.modal-content {
  width: 670px !important;
}

.selectedImage {
  width: 640px;
  position: relative
}

.caption {
  position: absolute;
  height: 70px;
  width: 100%;
  top: 410;
  left: 0;
  opacity: 0.9;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: verdana;
  font-size: 12px;
}

p {
  -webkit-margin-before: 5px !important;
  -webkit-margin-after: 5px !important;
}

.btn-back, .btn-forward {
  position: absolute;
  opacity: 0.9;
  background-color: black;
  padding: 10px;
  top: 190;
  color: white;
  text-weight: bold;
  cursor: pointer;
}

.btn-forward {
  left: 612;
}

/* punch
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 200px;
  -webkit-background-clip: padding-box;
  margin-left: 5%;
}

button.punch:hover {
  -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
}

/*testpalce-*/
* {
  box-sizing: border-box;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

body {
  background: linear-gradient(65deg, #000, #000 20%, #639);
  display: grid;
  width: 100vw;
  padding-top: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    align-content: center;
    padding: 20px;
  }
}
button + button {
  margin-left: 10%;
}
