

.body {


}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}



.watermark {
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0.5;
  z-index: 99;
}
.watermark img{
  max-width: 70px;
}

@media only screen and (min-width: 600px) {
  .watermark img {
    max-width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .watermark img {
    max-width: 100px;
  }
}